In [25]:
import mysql.connector
from mysql.connector import errorcode
import csv

In [26]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Musicproject')

In [27]:
mycursor = cnx.cursor()
try:
    mycursor.execute(("""
    CREATE TABLE tabla_tracks (
        id_track INT AUTO_INCREMENT PRIMARY KEY,
        id_genero INT,
        id_artista INT,
        nombre_artista VARCHAR(50),
        album VARCHAR(50),
        fecha DATE,
        tipo VARCHAR(50),
        track VARCHAR(50),
        CONSTRAINT fk_id_genero_tracks FOREIGN KEY (id_genero) REFERENCES tabla_genero(id_genero),
        CONSTRAINT fk_id_artista_tracks FOREIGN KEY (id_artista) REFERENCES tabla_artista(id_artista)
    )
"""))
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'tabla_tracks' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'tabla_tracks' already exists

In [28]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Musicproject')

mycursor = cnx.cursor()
query = """
    INSERT INTO tabla_tracks (
        nombre_artista, album, fecha, tipo, track
    ) VALUES (%s, %s, %s, %s, %s)
"""
datos = []
with open('tracks_classical.csv') as file:
    reader = csv.reader(file)
    next(reader)  # Saltar encabezados si existen
    for fila in reader:
            datos.append(fila)

try: 
    mycursor.executemany(query, datos)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

2500 registro insertado.

In [29]:
# usar este código en sql, pero antes poner en la tabla géneros los géneros
#UPDATE tabla_tracks SET id_genero = 1 WHERE id_track BETWEEN 15001 AND 16000;

In [33]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Musicproject')

mycursor = cnx.cursor()
query = """
    INSERT INTO tabla_tracks (
        nombre_artista, album, fecha, tipo, track
    ) VALUES (%s, %s, %s, %s, %s)
"""
datos = []
with open('track_jazz.csv') as file:
    reader = csv.reader(file)
    next(reader)  # Saltar encabezados si existen
    for fila in reader:
            datos.append(fila)

try: 
    mycursor.executemany(query, datos)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

2500 registro insertado.

In [ ]:

#UPDATE tabla_tracks SET id_genero = 1 WHERE id_track BETWEEN 16001 AND 30000;

In [34]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Musicproject')

mycursor = cnx.cursor()
query = """
    INSERT INTO tabla_tracks (
        nombre_artista, album, fecha, tipo, track
    ) VALUES (%s, %s, %s, %s, %s)
"""
datos = []
with open('tracks_pop.csv') as file:
    reader = csv.reader(file)
    next(reader)  # Saltar encabezados si existen
    for fila in reader:
            datos.append(fila)

try: 
    mycursor.executemany(query, datos)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

2500 registro insertado.

In [ ]:
#UPDATE tabla_tracks SET id_genero = 1 WHERE id_track BETWEEN 30001 AND 32500;

In [35]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='Musicproject')

mycursor = cnx.cursor()
query = """
    INSERT INTO tabla_tracks (
        nombre_artista, album, fecha, tipo, track
    ) VALUES (%s, %s, %s, %s, %s)
"""
datos = []
with open('tracks_rock.csv') as file:
    reader = csv.reader(file)
    next(reader)  # Saltar encabezados si existen
    for fila in reader:
            datos.append(fila)

try: 
    mycursor.executemany(query, datos)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

2500 registro insertado.

In [ ]:
#UPDATE tabla_tracks SET id_genero = 1 WHERE id_track BETWEEN 32501 AND 35000;